---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: {{ .Release.Namespace }}
  name: {{ .Release.Name }}-upload
spec:
  selector:
    matchLabels:
      app: {{ .Release.Name }}-upload
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-upload
        tier: frontend
      annotations:
        # Ensure rolling updates on config changes.
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
    spec:
      securityContext:
        # The group id for www-data.
        fsGroup: 82
      containers:
        - name: upload-service
          image: danskernesdigitalebibliotek/cover-service-upload:{{ .Values.app.image.version }}
          imagePullPolicy: {{ .Values.app.image.imagePullPolicy }}
          resources:
            requests:
              memory: '256Mi'
              cpu: '300m'
            limits:
              memory: '384Mi'
              cpu: '500m'
          readinessProbe:
            exec:
              command:
                - php-fpm-healthcheck
            initialDelaySeconds: 1
            periodSeconds: 5
          livenessProbe:
            exec:
              command:
                - php-fpm-healthcheck
                - --accepted-conn=500000
            initialDelaySeconds: 0
            periodSeconds: 10
          volumeMounts:
            - mountPath: /var/www/html/public/cover
              name: public-covers-data
          env:
            - name: APP_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-secret
                  key: APP_SECRET
            - name: APP_DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-secret
                  key: APP_DB_USERNAME
            - name: APP_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-secret
                  key: APP_DB_PASSWORD
            - name: APP_OPENPLATFORM_ID
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-secret
                  key: APP_OPENPLATFORM_ID
            - name: APP_OPENPLATFORM_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-secret
                  key: APP_OPENPLATFORM_SECRET
          envFrom:
            - configMapRef:
                name: {{ .Release.Name }}-configmap
          ports:
            - containerPort: 9000
            - containerPort: 9253
        - name: nginx
          image: danskernesdigitalebibliotek/cover-service-upload-nginx:{{ .Values.app.image.version }}
          imagePullPolicy: {{ .Values.app.image.imagePullPolicy }}
          resources:
            requests:
              memory: '64Mi'
              cpu: '100m'
            limits:
              memory: '96Mi'
              cpu: '300m'
          readinessProbe:
            tcpSocket:
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            tcpSocket:
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 10
          volumeMounts:
            - mountPath: /var/www/html/public/cover
              name: public-covers-data
          envFrom:
            - configMapRef:
                name: {{ .Release.Name }}-nginx-config
          ports:
            - containerPort: 80
        - name: nginx-exporter
          image: nginx/nginx-prometheus-exporter:{{ .Values.nginx.exporter.image.version }}
          imagePullPolicy: {{ .Values.app.image.imagePullPolicy }}
          resources:
            requests:
              memory: '64Mi'
              cpu: '100m'
            limits:
              memory: '96Mi'
              cpu: '100m'
          readinessProbe:
            tcpSocket:
              port: 9113
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            tcpSocket:
              port: 9113
            initialDelaySeconds: 5
            periodSeconds: 10
          ports:
            - containerPort: 9113
      volumes:
        - name: public-covers-data
          persistentVolumeClaim:
            claimName: uploaded-covers-managed-disk