[program:queues]
command=/var/www/html/bin/console messenger:consume {{ getenv "APP_SUPERVISOR_QUEUES" "async_priority_high async_priority_normal async_priority_low" }} --env=prod --no-debug --time-limit={{ getenv "APP_SUPERVISOR_TIME_LIMIT" "900" }} --no-interaction --quiet --failure-limit=1
process_name=%(program_name)s_%(process_num)02d
numprocs={{ getenv "APP_SUPERVISOR_WORKERS" "8" }}
autostart=true
autorestart=true
startsecs=0
user=www-data
stdout_logfile=/dev/fd/1
stdout_logfile_maxbytes=0
redirect_stderr=true
