---
apiVersion: v1
kind: ConfigMap
metadata:
  namespace: {{ .Release.Namespace }}
  name: {{ .Release.Name }}-configmap
data:
  APP_DB_SERVER: {{ .Values.app.db.server | quote }}
  APP_DB_PORT: {{ .Values.app.db.port | quote }}
  APP_DB_DATABASE: {{ .Values.app.db.database | quote }}
  APP_DB_VERSION: {{ .Values.app.db.version | quote }}
  APP_REDIS_SERVER: {{ .Values.app.redis.server | quote }}
  APP_REDIS_PORT: {{ .Values.app.redis.port | quote }}
  APP_REDIS_CACHE_SERVER: {{ .Values.app.redis.server | quote }}
  APP_REDIS_CACHE_PORT: {{ .Values.app.redis.port | quote }}
  APP_REDIS_CACHE_DB: {{ .Values.app.redis.cache_db | quote }}
  APP_REDIS_CACHE_PREFIX: {{ .Values.app.redis.prefix | quote }}
  APP_REDIS_LOCK_SERVER: {{ .Values.app.redis.server | quote }}
  APP_REDIS_LOCK_PORT: {{ .Values.app.redis.port | quote }}
  APP_REDIS_LOCK_DB: {{ .Values.app.redis.lock_db | quote }}
  APP_METRICS_HOST: {{ .Values.app.redis.server | quote }}
  APP_METRICS_PORT: {{ .Values.app.redis.port | quote }}
  APP_INDEXING_URL: {{ .Values.app.indexing.url | quote }}
  APP_AMQP_SERVER: {{ .Values.app.amqp.server | quote }}
  APP_AMQP_PORT: {{ .Values.app.amqp.port | quote }}
  PHP_MEMORY_LIMIT: {{ .Values.app.php.memory_limit | quote }}
